.generator-form {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.generator-result {
  margin-top: 50px;
  width: 100%;
}

.generator-result-img {
  max-width: 200px;
}
