.generator-form {
  width: 80%;
  display: flex;
}

.generator-result {
  width: 100%;
  animation: fadeIn 500ms ease-in forwards;
}

.generator-result-img {
  width: 60%;
  max-width: 200px;
}

.generator-result-text {
  font-size: 12px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}


@media screen and (min-width: 992px) {
  .generator-form {
    width: 50%;
  }
}