.reader-content {
  width: 80%;
  max-width: 900px;
  animation: fadeIn 400ms ease-in forwards;
}

.reader-result {
  animation: slideRight 200ms ease-in forwards;
  align-self: flex-end;
}

.reader-result-text {
  font-weight: 700;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@media screen and (min-width: 1200px) {
  .reader-content {
    width: 30%;
  }
}